<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="action === 'create'">Nuevo viaje</ion-title>
    <ion-title *ngIf="action === 'update'">Actualizar viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <form [formGroup]="travelForm">
          <ion-item>
            <ion-label position="stacked">Fecha</ion-label>
            <ion-datetime display-format="DD MM YYYY" formControlName="fecha"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Número de vuelo</ion-label>
            <ion-input type="text" formControlName="numeroVuelo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Destino</ion-label>
            <ion-select placeholder="País" formControlName="pais">
              <!-- faltan las opciones que se traen por API -->
            </ion-select>
            <ion-select placeholder="Ciudad" formControlName="ciudad">
              <!-- faltan las opciones que se traen por API -->
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Intereses (opcional)</ion-label>
            <ion-select formControlName="intereses" multiple="true">
              <!-- faltan las opciones ¿se traen por API o se definen estaticos? -->
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Alojamiento (opcional)</ion-label>
            <ion-input type="text" formControlName="alojamiento"></ion-input>
          </ion-item>
          <ion-button color="primary" *ngIf="action === 'create'" disabled="travelForm.invalid" (click)="create()" expand="block">Guardar</ion-button>
          <ion-button color="primary" *ngIf="action === 'update'" (click)="update()" expand="block">Actualizar</ion-button>
          <ion-button color="light"  (click)="dismissModal()" expand="block">Volver</ion-button>
        </form>
    </ion-card-content>
  </ion-card>
</ion-content>
