<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Iniciar sesión</h1>
        <ion-item>
          <ion-input type="text" placeholder="usuario o e-mail" [(ngModel)]="userLogin.email" [ngModelOptions]="{ standalone : true }"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="password" [(ngModel)]="userLogin.contrasenia" [ngModelOptions]="{ standalone : true }"></ion-input>
        </ion-item>
        <ion-button color="primary" expand="block" (click)="login()">Ingresar</ion-button>
        <ion-button color="primary" expand="block">Ingresar con Facebook</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="light" (click)="showRegistryModal('traveler')">Registrarme como viajero</ion-button>
        <ion-button expand="block" color="light" (click)="showRegistryModal('guide')">Registrarme como guía</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
