<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Búsqueda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="searchForm">
        <ion-item>
          <ion-label position="stacked">Destino</ion-label>
          <ion-select formControlName="pais" placeholder="País">
            <ion-select-option *ngFor="let pais of paises" value="pais.id">{{pais.nombre}}</ion-select-option>
          </ion-select>
          <ion-select formControlName="ciudad" placeholder="Ciudad">
            <ion-select-option *ngFor="let ciudad of ciudades" value="ciudad.id">{{ciudad.nombre}}</ion-select-option>
          </ion-select>
            <!--<ion-input type="text" formControlName="destino"></ion-input>-->
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fecha de viaje</ion-label>
            <ion-datetime display-format="DD MM YYYY" formControlName="fechaViaje"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Número de vuelo</ion-label>
            <ion-input type="text" formControlName="numeroVuelo"></ion-input>
          </ion-item>
          <ion-button color="primary" expand="block" (click)="searchResults()">Buscar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
